* {
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    
}

.container {
    background-color: rgb(19, 0, 8);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gamebox {
    min-height: 475px;
    height: 520px;
    min-width: 250px;
    width: 400px;
    border-radius: 1rem;
    /* border: 2px solid #8f8f8f; */
    text-align: center;
    padding: 1.5rem;
    position: relative;
    z-index: 1;
    background-color: #e8c3c31f;
    backdrop-filter: blur(35px);
}

.head{
    text-align: center;
    font-size: xx-large;
}


.redcirc {
    background-color: #eb5b5be0;
    box-shadow: 0px 0px 50px 10px rgb(255 121 121 / 89%);
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    position: relative;
    top: 2rem;
    animation: move 30s ease-in-out infinite;
}

.bluecirc {
    background-color: rgb(109 109 230 / 92%);
    box-shadow: 0px 0px 40px 4px rgba(147, 150, 255, 0.888);
    height: 18rem;
    width: 18rem;
    border-radius: 50%;
    position: relative;
    bottom: 5rem;
    animation: move1 30s infinite ease-in-out;
}

@keyframes move {
    0% {
        left: -13rem;
    }

    50% {
        left: 0rem;
    }

    100% {
        left: -10rem;
    }
}

@keyframes move1 {
    0% {
        left: 10rem;
    }

    50% {
        left: 23rem;
    }

    100% {
        left: 10rem;
    }
}



.gamearea {
    display: grid;
    grid-template-columns: repeat(3,7rem);
    gap: 5px;
    margin-top: 3rem;
}

.boxs{
    color: black;
    outline: none;
    border: none;
    background-color: #fcf7c0dd;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 0.5rem;
}

.boxs:active{
    background-color: #fffac0b3;
}
.reset{
    margin: 1.2rem;
    background-color: #9451e2;
    padding: 0.7rem;
    outline: none;
    border: none;
    min-width: 6rem;
    border-radius: 0.5rem;
}
.reset:hover{
    scale: 1.1;
    transition: scale .1s linear;
}
.reset:active{
    scale: 1;
    background-color: #9551e2c8;
}

.newgame{
    background-color: #00ff6a;
    padding: 0.7rem;
    outline: none;
    border: none;
    min-width: 6rem;
    border-radius: 0.5rem;
}

.newgame:hover{
    scale: 1.03;
    transition: scale .1s linear;
}
.newgame:active{
    scale: 1;
    background-color: #00ff6a8a;
}

.modaloptions span img {
    height: 3rem;
    width: 3rem;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color:  #484848db;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    transition: .5s ease-in-out;
}

.mainmodal {
    width: 20rem;
    padding: 1rem;
    border: 2px solid grey;
    border-radius: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    scale: 0;
    background-color: #0707076e;
    backdrop-filter: blur(10px);
    transition: .5s ease-in-out;
}

.modalitems {
    margin-top: 10px;
}

.modalhead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.modalhead h2{
    color: azure;
}
 
.modaloptions {
    display: flex;
    flex-direction: column;
    margin: .5rem 0px;
    gap: 1rem;
}


.active {
    scale: 1;
}

.overlay {
    opacity: 1;
    pointer-events: initial;
}